@import url('https://fonts.googleapis.com/css?family=Baloo');
*{
	padding: 0;
	margin:0;
}
body{
	font-family: 'Baloo', cursive;
	background: #191919;
}
.clock{
	display: block;
	color:#e5e5e5; 
	margin-left:24%;
	margin-top:7.5%;

}

.num{
	display: none;
	font-size: 200px;
}
.green{
	color: #3dff02;
}
.open{
	display:block;
}
.alert{
	display:block;
	color: #e5e5e5;
	background: #ff3822;
	margin-left: 13%;
	margin-top: 10%;
	font-size: 100px;
	height: 100px;
	width: 500px;
	text-align: center;
	border-radius: 20px;
	line-height:100px; 
}