@import url('https://fonts.googleapis.com/css?family=Baloo');
*{
	padding: 0;
	margin:0;
}
body{
	font-family: 'Baloo', cursive;
	background: #191919;
}
.title{
	display: block;
	font-size: 150px;
	margin: 0 35%;
	color: #e0e0e0;
	margin-bottom:200px;
}
.sign{
	cursor: pointer;
	display:block;
	background: #e0e0e0;
	width: 100px;
	height: 100px;
	margin-left: 25%;
	color:#c13636;
	text-align: center;
	font-size: 100px;
	line-height: 100px;
	margin-bottom: 10px;
	user-select:none;
}
.blue{
	color: #4274c4;
}
.board{
	display:block;
	background: #e0e0e0;
	width: 500px;
	height: 250px;
	margin-top: -240px;
	margin-left: 35%;
	color:#7f35c4;
	text-align: center;
	font-size: 150px;
	line-height: 250px;
	margin-bottom: 10px;
}