@import url('https://fonts.googleapis.com/css?family=Baloo');
*{
	padding: 0;
	margin:0;
}
body{
	font-family: 'Baloo', cursive;
	background: #191919;
}
.title{
	color: #d8d8d8;
	font-size: 150px;
	margin:0 auto;
	width: 800px; 
	text-align: center;
}
canvas{
	background: #d8d8d8;
	margin: 50px;
	margin-top: 20px;
}
input{
	float:right;
	margin-right:500px;
	margin-top: 20px;
	height: 50px;
	font-size: 40px;
	line-height: 50px;
	color:#435f8c;
	width: 500px;
	font-family: 'Baloo', cursive;
}
input[type="submit"]{
	width: 505px;
}
::-webkit-input-placeholder,::-webkit-input-value {
	color: #749ee0;
}
